

body {
  font-size: medium;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  margin: auto;
  width: 100%;
  height: 100%;
  background-color:white;
  overflow-y:hidden;
}
#div1{position: absolute;
  top: 0%;
  width: 100%;
  height: 20%;
  background-color:#99ff33;
  opacity:0.5;
  }

#sideDiv {
    position: absolute;
  top: 20%;
  left: 0%;
  width: 20%;
  height: 75%;
  background-color:#ffa333;
  font-size: small;
  overflow-y: scroll;
  }
#bodyDiv1 {
position: absolute;
background-color:#00ff00;
    padding: 0;
	top:20%;
	left:20%;
	width:80%;
	height:75%;
    margin: 0;
   }
  

#footerDiv {
    
  position: absolute;
  top: 95%;
  left: 0%;
  width: 100%;
  height: 5%;
  background-color:#800000;
  
  font-size: small;	
  }


